<kt-portlet>
	<div class="fixedHeader">
		<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'">
			<ng-container ktPortletTools>
				<a [routerLink]="['/job-adv']" class="btn btn-secondary kt-margin-r-10" mat-raised-button
					matTooltip="{{'BANKMOH.GENERAL.BACK_BANKMOH_LIST' | translate}}">
					<span class="kt-hidden-mobile">{{'BANKMOH.GENERAL.BACK' | translate}}</span>
					<i class="la la-arrow-left back"></i>
				</a>
				<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)"
					mat-raised-button matTooltip="{{ 'BANKMOH.GENERAL.SAVE_CONTINUE' | translate }}">
					<span class="kt-hidden-mobile">{{ 'BANKMOH.GENERAL.SAVE' | translate }}</span>
				</a>
			</ng-container>
		</kt-portlet-header>
		<kt-notice></kt-notice>
	</div>
	<kt-portlet-body>
		<form [formGroup]="JobAdvForm" class="kt-form" style="margin-top: 30px">
			<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
				(close)="onAlertClose($event)">
				{{ 'BANKMOH.VALIDATION.SUBMIT_ERROR' | translate }}
			</kt-alert>
			<div class="kt-form__section kt-form__section--first">
				<div class="form-group kt-form__group row">
					<div class="col-lg-4 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid" floatLabel="always" [hideRequiredMarker]="false">
							<input matInput placeholder="{{'BANKMOH.INPUT.ENTER_TITLE' | translate }}"
								formControlName="title" />
							<mat-error>{{'BANKMOH.VALIDATION.TITLE_IS' | translate }}
								<strong>{{ 'BANKMOH.VALIDATION.VALID_REQUIRED' | translate }}</strong>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				<!-- // -->
				<div class="form-group kt-form__group row">
					<div class="col-lg-4 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid" floatLabel="always" [hideRequiredMarker]="false">
							<input matInput placeholder="{{'BANKMOH.INPUT.ENTER_DESCRIPTION' | translate }}"
								formControlName="description" />
							<mat-error>{{'BANKMOH.VALIDATION.DESCRIPTION_IS' | translate }}
								<strong>{{ 'BANKMOH.VALIDATION.VALID_REQUIRED' | translate }}</strong>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				<!-- // -->
				<div class="form-group kt-form__group row">
					<div class="col-lg-4 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid" floatLabel="always" [hideRequiredMarker]="false">
							<input type="number" matInput placeholder="{{'BANKMOH.INPUT.ENTER_AVAILABLEPOSITIONS' | translate }}"
								formControlName="availablePositions" />
							<mat-error>{{'BANKMOH.VALIDATION.AVAILABLEPOSITIONS_IS' | translate }}
								<strong>{{ 'BANKMOH.VALIDATION.VALID_REQUIRED' | translate }}</strong>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="form-group kt-form__group row">
					<div class="col-lg-4 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid" floatLabel="always" [hideRequiredMarker]="false">
							<input matInput [matDatepicker]="picker" formControlName="post_date"
								placeholder="{{'BANKMOH.INPUT.ENTER_POSTDATE' | translate }}">
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
							<mat-error>{{'BANKMOH.VALIDATION.POSTDATE_IS' | translate }}
								<strong>{{ 'BANKMOH.VALIDATION.VALID_REQUIRED' | translate }}</strong>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="form-group kt-form__group row">
					<div class="kt-margin-bottom-20-mobile">
						<label style="margin-right: 10px;">IS Active  </label>
						<mat-checkbox [checked]="JobAdvForm.get('active').value" (change)="isActive($event.checked)">
						</mat-checkbox>
					</div>
				</div>
			</div>
		</form>
	</kt-portlet-body>
</kt-portlet>